/* Navbar.css */

nav {
    background: #1877F2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    }
    
    nav .logo {

        pointer-events: none;
        cursor: pointer;
    }

    nav .logoAndText {
        display: flex;
        align-items: center;
        pointer-events: auto;
        cursor: pointer;
    }
    
    nav .pageButtons {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    nav p {
        margin: 0;
        color: white;
        font-size: 1.7rem;
        font-weight: 800;
        margin-left: 10px;
    }


    nav button {
    background: #1877F2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    border: none;
    font-size: larger;
    }

    nav button:hover {
        background-color: rgba(0, 0, 255, 0.202);
    }

    nav input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    position: relative;
    }

    nav .flex-container {
        display: flex;
        align-items: center;
    }

.search-results {
    position: absolute;
    top: 52px;
    right: 18px;
    background-color: lightgrey;
    width: 165px;
    border-radius: 10px;
}

.search-results p {
    font-size: small;
    padding: 10px;
    align-self: center;
    color: black;
    margin: 0;
}

.search-results .friend-container {
    padding: 5px;
    margin: 0;
}

.search-results .friend-container img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.search-results .friend-container h4 {
    margin: 5px;
    font-size: small;
}
